<div class="container">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>End Date</th>
                        <th>Donation Status</th>
                        <th>Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prod in controller.productions">
                        <td><a ui-sref="dashboard.adminDashboard.detailsProduction({id:prod.id})">{{prod.title}}</a></td>
                        <td>
                            {{prod.genre}}
                        </td>
                        <td>{{prod.endDate | date:"MM/dd/yyyy" }}</td>
                        <td>
                            <div class="progress" ng-repeat="don in prod.donation">
                                <div class="progress-bar col-lg-12" role="progressbar" aria-valuenow="{{controller.progressBar(don, prod)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{controller.progressBar(don, prod)}}%;">
                                    {{controller.progressBar(don, prod)}}%
                                </div>
                            </div>
                            <div class="prod-stats">
                                {{don.donatedNum}}
                                {{controller.progressBar(don, prod)}}% funded / ${{controller.reqAmt(prod)}}{{controller.reqZeroes(prod.reqAmount)}} pledged / 4 days to go
                            </div>
                        </td>
                        <!--<td>
                            <span class="label label-success">Active</span>
                        </td>-->
                        <td>
                            <a ui-sref="dashboard.adminDashboard.editProduction({id: prod.id})"><span class="fa fa-pencil"></span></a>
                            <a ng-click="controller.removeProductionModal(prod.id)"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                    <
                    <!--<span class="label label-important">Banned</span>-->
                    <!--<td><span class="label">Inactive</span></td>-->
                    <!--<td><span class="label label-warning">Pending</span></td>-->

                </tbody>
            </table>
        </div>
    </div>
</div>